Teste/Teste/Service References/ProcessadorEstado/Estados2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Processador" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Processador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regiao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sigla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfEstado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estado" nillable="true" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstado" nillable="true" type="tns:ArrayOfEstado" />
</xs:schema>