Teste/Teste/Service References/ProcessadorEstado/Estados.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2991/Estados.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Processador" />
  <xs:element name="Cadastrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Processador" minOccurs="0" name="estado_" nillable="true" type="q1:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Processador" minOccurs="0" name="estado_" nillable="true" type="q2:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Processador" minOccurs="0" name="estado_" nillable="true" type="q3:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Processador" minOccurs="0" name="estado_" nillable="true" type="q4:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Processador" minOccurs="0" name="ConsultarResult" nillable="true" type="q5:ArrayOfEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>